.footer-bottom {
    background-color: #2980b9;
}

.footer-top {
    background-color: #3498db;
}

.w-30 {
    width:30% !important;
}

.w-40 {
    width:40% !important;
}

.w-35 {
    width:35% !important;
}

.w-45 {
    width:45% !important;
}
