<event>
    <div class="card mb-3">
        <img class="card-img-top w-100" src="img/polytech.jpg" alt="événement"/>
        <div class="card-body">
            <h5 class="card-title">{props.name}</h5>
            <p class="card-text">{props.adress}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">{props.date}</small>
        </div>
    </div>
</event>