<team>
    <div>
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">{props.name}</h5>
          <div class="card-text text-black-50">{props.job}</div>
        </div>
      </div>
    </div>
</team>